* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.assi-regular {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.assi-bold {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.heebo-bold {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


#Mobilehead {
    display: none;
}

section {
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #E5EEFF;
    padding: 13vh 31vh 12vh;
    gap: 20px;
    align-items: center;
    justify-content: center;

    #Divhead {
        display: flex;
        flex-direction: column;
        height: 100%;
        grid-row: 1/3;
        grid-column: 1/3;
        background-color: #020253;
        text-align: center;
        justify-content: center;
        padding: 0 75px;
        gap: 20px;

        h1 {
            color: #0EE1DA;
            font-size: 3.8125em;
        }

        p {
            color: white;
            font-size: 1.25em;
        }
    }

    img.normal {
        display: block;
    }

    img.mobile {
        display: none;
    }

    #Divform {
        height: 100%;
        display: flex;
        flex-direction: column;
        grid-row: 4/7;
        grid-column: 3/5;
        background-color: #8E097C;
        padding: 63px 56px;
        text-align: center;
        gap: 23px;

        h2 {
            color: white;
            font-size: 2.2em;
        }

        p {
            color: white;
            font-size: 1.25em;
        }

        form {
            margin-top: 48px;
            text-align: right;
            color: #0EE1DA;
            display: flex;
            flex-direction: column;

            input {
                height: 60px;
                margin-bottom: 20px;
                border: none;
                border-bottom: 4px #0EE1DA solid;
                justify-content: start;
                font-size: 1.3em;
            }

            input[type="email"] {
                direction: ltr;
            }


            textarea {
                height: 172px;
                margin-bottom: 20px;
                border: none;
                border-bottom: 4px #0EE1DA solid;
                font-size: 1.5em;
            }

            button {
                background-color: #0EE1DA;
                color: #011560;
                height: 60px;
                font-size: 1.5em;
                border: none;
            }

            button:hover {
                cursor: pointer;
            }

            button:active {
                transform: scale(.9);
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    body {
        direction: rtl;
        background-color: #E5EEFF;
        gap: 20px;

        #Mobilehead {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #020253;
            text-align: center;
            justify-content: center;
            padding: 117px 45px 84px;
            gap: 20px;
            margin-bottom: 20px;

            h1 {
                color: #0EE1DA;
                font-size: 2.25em;
            }

            p {
                color: white;
                font-size: 1.25em;
            }
        }



        section {
            direction: unset;
            grid-template-columns: repeat(2, 160px);
            grid-template-rows: repeat(10, 146px);
            justify-items: center;
            gap: 20px;
            padding: 0 20px 30px;

            #Divhead {
                display: none;
            }

            img.mobile {
                display: block;
            }

            img.normal {
                display: none;
            }


            #formDiv {
                grid-row: 5/9;
                grid-column: 1/3;
                gap: 15px;
                padding: 58px 25px;

                h2 {
                    font-size: 1.5em;
                }

                p {
                    font-size: 1em;
                }

                form {
                    margin-top: 15px;

                    input {
                        height: 33px;
                        margin-bottom: 20px;
                        border: none;
                        border-bottom: 4px #0EE1DA solid;
                        justify-content: start;
                        font-size: 0.6em;
                    }

                    textarea {
                        height: 100px;
                        margin-bottom: 20px;
                        border: none;
                        border-bottom: 4px #0EE1DA solid;
                        font-size: 0.6em;
                    }

                    button {
                        height: 33px;
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
}